<footer class="bg-dark text-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>
            We are a leading fashion brand offering the best men’s wear collection.
            Check out our latest trends and stay in style.
          </p>
        </div>
  
        <div class="col-md-4">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li>Email: contact friendscollection.com</li>
            <li>Phone: +1 234 567 890</li>
            <li>Address: 123 Fashion St, New York, USA</li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-light">Facebook</a>
            </li>
            <li>
              <a href="#" class="text-light">Instagram</a>
            </li>
            <li>
              <a href="#" class="text-light">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="text-center pt-3">
        <p>&copy; 2024 FriendsCollection. All rights reserved.</p>
      </div>
    </div>
  </footer>
  